body,html{
    height:100%;
    padding:0px;
    margin:0px;
}
#fondo{
    display: fixed;
    height:100%;
    width:100%;
    position:fixed;
    z-index: -3;
}
#fondo img{
    height: 100%;
    width: 100%;
}
#logo{
    width: auto;height: auto;
    margin: 0 auto;
    padding: 15px;
}
#logo img{
    height: 175px;width: auto;
}
#opciones{
    width: auto;height: auto;
}
#menu{
    width: auto;height: auto;
    padding: 20px;
    margin: auto;
}
#menu1,#menu2,#menu3{
    display: inline-block;
    list-style: none;
    border-style: outset;
    border-color: #4d88ff;
    background-color: #9999ff;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-family: sans-serif;
}
#menu1:hover,#menu2:hover,#menu3:hover{
    background-color: #1a66ff;  
}
#introduccion{
    width: 637px;
    height: auto;
    margin-left: 30px;
    line-height: 28px;
    font-family: sans-serif;
}
